@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
}

:root {
  --color-light: #efeee0;
  --color-white: #fff;
  --color-red: #e5524a;
  --color-dark: #2f2f2f;
  --color-dark-alt: #1a1e1f;
  --color-primary: #609eaf;
  --color-secondary: #facd66;
  --color-gray: rgba(255, 255, 255, 0.25);
  --color-background: #1e1e1e;

  --container-width-lg: 88%;
  --container-width-md: 80%;

  --transition: all 400ms ease-in-out;

  --card-border-radius-1: 0.3rem;
  --card-border-radius-2: 0.5rem;
  --card-border-radius-3: 0.8rem;
  --card-border-radius-4: 2rem;
  --card-border-radius-5: 2.5rem;
  --card-border-radius-6: 5rem;
  --card-border-radius-7: 50%;
}

body {
  background: var(--color-dark-alt);
  color: var(--color-light);
  line-height: 1.7;
}

/* =======GENERAL STYLES======== */
h1,
h2 {
  line-height: 1.1;
  font-weight: 400;
}

h1 {
  font-size: 4rem;
  color: var(--color-white);
}

h2 {
  font-size: 3.5rem;
}

a {
  color: var(--color-gray);
  transition: var(--transition);
}

a:hover {
  color: var(--color-secondary);
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
  max-width: 2160px;
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
}

/* =========================END OR GENERAL STYLES */

/* ===================SEARCH BAR ON THE HOMEPAGE */
.searchBar_container {
  width: 100%;
  height: 2.5rem;
  background: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding: 0.5rem 1rem;
  border-radius: var(--card-border-radius-2);
  color: var(--color-gray);
}

.searchBar_container > div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

input {
  background: transparent;
  width: 100%;
  height: 100%;
  margin-left: 0.7rem;
  padding: 0.5 0;
  caret-color: var(--color-secondary);
}

input[type='text'] {
  color: var(--color-secondary);
  font-size: 1rem;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: var(--color-gray);
  font-size: 1rem;
}

.search_icon {
  font-size: 1.5rem;
}
/* ===================SEARCH BAR ON THE HOMEPAGE */

/* ===================CURATED PLAYLIST */
/* left */
.curatedPlaylist {
  width: 100%;
  height: 24rem;
  display: flex;
  margin-top: 0.75rem;
  flex-direction: row;
  align-items: start;
  gap: 2rem;
}

.curated {
  width: 43rem;
  height: 23.3rem;
  display: flex;
  align-items: start;
  justify-content: space-between;
  overflow: hidden;
  background: var(--color-primary);
  border-radius: var(--card-border-radius-5);
}

.curated_left {
  width: 21rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding: 2rem;
}

.curated_left > h6 {
  text-transform: capitalize;
}

.curated_title {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

.curated_title > h3 {
  font-size: 2rem;
}

.curated_likeBy {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.liked_by {
  display: flex;
  flex-direction: row;
}

.liked_by span {
  width: 1.5rem;
  aspect-ratio: 1/1;
  display: block;
  border-radius: var(--card-border-radius-7);
  overflow: hidden;
  margin-left: -0.6rem;
}

.liked_by span:first-child {
  margin-left: 0;
}

/* right */
.curated_right {
  width: 20rem;
  height: 100%;
  padding: 0;
  position: relative;
}

.curated_right_vector {
  width: 100%;
  height: 100%;
  position: absolute;
}

.curated_right_vector img {
  width: 30rem;
  height: 30rem;
  padding-right: 5rem;
  padding-bottom: 10rem;
  transform: rotate(-10deg);
}

.curated_right_img {
  width: 100%;
  height: 100%;
  position: absolute;
}

.curated_right_img img {
  width: 25rem;
  aspect-ratio: 1/1;
  padding-right: 7rem;
}
/* ===================END OF CURATED PLAYLIST */

/* ===================TOP CHART */
/* left */
.topChart {
  width: 23rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
}

.topChart > h3 {
  text-transform: capitalize;
}

.topChart_article {
  height: 5rem;
  display: flex;
  align-items: center;
  margin-top: 0.8rem;
  padding: 0.7rem;
  justify-content: space-between;
  background: var(--color-background);
  border-radius: var(--card-border-radius-3);
}

.topChart_left {
  display: flex;
  align-items: start;
  gap: 0.8rem;
}

.topChart_img {
  width: 4rem;
  aspect-ratio: 1/1;
}
.topChart_text {
  display: flex;
  flex-direction: column;
  gap: 0.13rem;
}

.topChart_text h5 {
  font-size: 0.8rem;
  font-weight: 100;
}

.topChart_text small {
  font-size: 0.65rem;
  color: var(--color-light);
}

.topChart_text p {
  font-size: 0.72rem;
}

/* right */
.topChart_icon {
  width: 2rem;
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
  color: var(--color-secondary);
  background: transparent;
  border: 1px solid var(--color-gray);
  border-radius: var(--card-border-radius-7);
}
/* ===================TOP CHART */

/* ==================NEW RELEASE */
.newRealease {
  margin-top: 2rem;
}
/* ==================END OF NEW RELEASE */

/* ==================MUSIC TOOLBAR */
.musicToolbar {
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 5rem;
  background: rgba(16, 16, 16, 0.51);
  backdrop-filter: blur(-10px);
  z-index: 99;
}
/* ==================END OF MUSIC TOOLBAR */

/* ===============COLLECTION */
.collection {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

.collectionDetails {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.collectionData {
  position: relative;
}

.collectionImg {
  width: 10rem;
  aspect-ratio: 1/1;
}

.collectionText {
  left: 0;
  bottom: 0;
  padding: 1rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.collectionText > h5 {
  font-size: 1.7rem;
  font-weight: 100;
  text-transform: capitalize;
}

.collectionText > small {
  text-transform: capitalize;
}

.collectionBtn {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.collectionBtn button {
  width: fit-content;
  height: 3rem;
  font-size: 1rem;
  padding: 1rem;
  color: var(--color-gray);
  text-transform: capitalize;
  background: transparent;
  border: 1px solid var(--color-gray);
  border-radius: var(--card-border-radius-4);
  transition: var(--transition);
  cursor: pointer;
}

.collectionBtn button:hover {
  background: var(--color-secondary);
  border: 0;
}

.collectionBtn button.active {
  color: var(--color-gray);
  background: var(--color-secondary);
}

/* ===============TAB RESPONSIVENESS */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-lg);
  }
}

/* ===============MOBILE RESPONSIVENESS */
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-md);
  }
}
